# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
*.suo
*.user

/Debug
/Release
/krakenplay/Debug
/client/Debug
/client/Release
/test_console/Debug
/test_console/Release
/test_sfml/Debug
/test_sfml/Release
/krakenplay/Release
/*.opensdf