# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
*.suo
*.user

CMakeCache.txt
cmake_install.cmake

/CMakeFiles
/x64
/Debug
/Release

/krakenplay/Debug
/krakenplay/Release
/krakenplay/CMakeFiles
/krakenplay/krakenplay.dir
/krakenplay/cmake_install.cmake

/client/Debug
/client/Release
/client/CMakeFiles
/client/client.dir
/client/cmake_install.cmake

/sample_console/Debug
/sample_console/Release
/sample_console/CMakeFiles
/sample_console/sample_console.dir
/sample_console/cmake_install.cmake

/sample_sfml/Debug
/sample_sfml/Release
/sample_sfml/CMakeFiles
/sample_sfml/sample_sfml.dir
/sample_sfml/cmake_install.cmake

/*.opensdf
/docs/html
